.navbar {
    color:white;
    background: brown;
    display: grid;
    height: 50px;
    top: 0px;
    position: sticky;
    button {
        float: right;
        padding: 12.5px 20px;
        background-color: transparent;
        border: none;
        outline: none;
        text-transform: uppercase;
        font-size: 15px;
        color: white;
        cursor: pointer;
        &:active{
            transform: translateY(4px)
        }
    }
}
